$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-large: 20px;
$font-size-xlarge: 24px;
$color-light-gray: #cccccc;
$color-gray: gray;
$color-black: black;
$color-white: white;
$color-red: rgb(224, 0, 0);
$color-green: green;
