.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}
