@import '/src/variables';

.EventPage {
  display: flex;
  width: 100%;

  &__image {
    width: 40%;
    max-width: 400px;
  }

  &__info {
    width: 60%;
    padding-left: 20px;
  }
}

.buy_page-div {
  display: block;
  width: 235px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background: black;
}

.buy_page-div input {
  width: 200px;
  padding: 20px 10px;
  border: 2px solid #fab803;
}

.buy_page-div button {
  width: 200px;
  margin: 15px 5px 10px;
  padding: 3px 0 6px;
  background: #fab803;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: $tablet) {
  .EventPage {
    flex-direction: column;
    align-items: center;

    &__image {
      width: 60%;
    }
  }
}
