@import '/src/variables';

input,
.EventFilter__button {
  width: 200px;
  height: 30px;
  margin: 5px;
  padding: 0 0 3px 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.EventFilter {
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $dark-gray;
    border-radius: 10px;
  }

  &__search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__burger-button {
    display: none;
  }

  &__button {
    padding-left: 1px;
    background-color: $dark-yellow;
    cursor: pointer;

    &:hover {
      background-color: $yellow;
    }
  }
}

@media screen and (max-width: $tablet) {
  input,
  .EventFilter__button {
    width: 250px;
    height: 36px;
    font-size: 20px;
    border: none;
  }

  .EventFilter {
    display: flex;
    justify-content: center;

    &__wrapper {
      display: none;
    }

    &__burger-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 250px;
      background-color: $dark-gray;
      box-shadow: $shadow;
      border-radius: 10px;
    }

    &__burger-button {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 10%;
      display: block;
      width: 64px;
      height: 64px;
      background-color: transparent;
      cursor: pointer;
      border: none;

      &_closed::after {
        content: '';
        position: absolute;
        top: 26px;
        right: 20px;
        width: 24px;
        height: 1.5px;
        background-color: $red;
        box-shadow: 0 8px 0 0 $red, 0 16px 0 0 $red;
      }
    }

    &__burger-button_opened {
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 30px;
        right: 19px;
        width: 24px;
        height: 2px;
        background-color: $red;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
        box-shadow: none;
      }
    }
  }
}
