@import '/src/variables';

.EventFilter {
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__input {
    width: 200px;
    height: 20px;
    margin: 5px;
  }

  &__burger-button {
    display: none;
  }
}

@media screen and (max-width: $tablet) {
  .EventFilter {
    &__wrapper {
      display: none;
    }

    &__burger-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: $grey;
    }

    &__input {
      width: 250px;
      height: 36px;
      font-size: 20px;
      color: $white;
      background-color: $blue;
      border: none;
    }

    &__burger-button {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 10%;
      display: block;
      width: 64px;
      height: 64px;
      background-color: transparent;
      cursor: pointer;
      border: none;

      &_closed::after {
        content: '';
        position: absolute;
        top: 26px;
        right: 20px;
        width: 24px;
        height: 1.5px;
        background-color: $red;
        box-shadow: 0 8px 0 0 $red, 0 16px 0 0 $red;
      }
    }

    &__burger-button_opened {
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 30px;
        right: 19px;
        width: 24px;
        height: 2px;
        background-color: $red;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
        box-shadow: none;
      }
    }
  }
}
