extends layout.pug

block styles
  link(rel='stylesheet' href='/form.css')

block content
  form.form.form_centered(action="/auth" method="POST")
    p.error
    input.input(name="login" placeholder="Логин" required)
    input.input(name="password" placeholder="Пароль" type="password" required )
    button.button Войти

  script(src='/auth.js')
