$dark-red: #770000;
$red: #c50202;
$light-red: #dd5151;

$dark-blue: #0000ff;
$blue: #2d4ae9;
$light-blue: #5ebdf5;

$dark-gray: #233042;
$gray: #777777;
$light-gray: #cccccc;

$dark-yellow: #fab803;
$yellow: #f1f51f;

$font-size-small: 8px;
$font-size-normal: 16px;
$font-size-large: 24px;

$shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$white: #ffffff;
$tablet: 768px;
