@import './variables';

.App {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 140px;
  }
}

@media screen and (max-width: $tablet) {
  .App__main {
    padding: 0;
  }
}
