* {
  box-sizing: border-box;
  font-family: inherit;
  outline: none;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: contents;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: contents;
}
