.link {
  min-width: 150px;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: #cccccc;
  border: 2px solid #333333;
  border-radius: 10px;
  text-decoration: none;
}

.link:hover {
  color: white;
  background-color: gray;
}
