* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.form {
  padding: 20px;
}

.form__field {
  min-height: 30px;
  margin-bottom: 5px;
}

.form__field:last-child {
  margin-bottom: 0;
}

.hidden {
  display: none;
}
