@import '/src/variables';

.EventImage {
  width: 100%;
  max-width: 800px;
  height: 50%;
  border-radius: 15px 15px 0 0;
}

@media screen and (max-width: $tablet) {
  .EventImage {
    height: 65%;
  }
}
