@import '/src/variables';

.CardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: $tablet) {
  .CardsContainer {
    justify-content: center;
  }
}
