@import '/src/variables';

.CardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

<<<<<<< HEAD
@media screen and (max-width: $tablet) {
    .CardsContainer {
      justify-content: center;
    }
  }
=======
@media screen and (max-width: 768px) {
  .CardsContainer {
    justify-content: center;
  }
}
>>>>>>> 72fcfea (added EventPage, fixed EventCard)
