@import '/src/variables';

.Select {
  width: 200px;
  height: 30px;
  margin: 5px;
  font-size: 20px;
}

@media screen and (max-width: $tablet) {
  .Select {
    width: 250px;
    height: 36px;
    font-size: 20px;
    color: $white;
    background-color: $blue;
    border: none;
  }
}
